
/* .bg-success {
    background-color: #28a745!important;
    margin: auto;
    padding: 2px 6px 9px 900px;
} */
/* .nav-fit
{
    padding:10px 10px 10px 400px;
    margin:0px 0px 0px 0px;
   
} */
.nav-ul
 {
     margin:auto; 
   
    padding:0px 5px 0px 5px;
}
.nav-ul li a{
 padding:0px 30px 0px 30px;
 font-weight:600;
 font-family:sans-serif;
 font-size: 25px;
}
.nav-ul li button
{
   font-weight:600;
 font-family:sans-serif;
 font-size: 25px;
 height:40px;
 padding:0px 3px;
 margin:0px 0px 0px 25px;
}

@media (min-width: 768px)/*newly added*/
{ 
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
}
}
#main-bar{
    /* position: absolute; */
    width: 100%;
    top:10%;
    /* position: fixed; */
    z-index: 1;
    /* padding: 0px 56px 12px 574px; */
}
#main-bar .nav-item1
{
    margin-left: 10px;
    font-size: 17px;
}
#main-bar a{
    font-size: 25px;
    font-family: math;
}
/* .nav-color
{
    background-color: rgb(86, 249, 86);
    color: white;
} */
@media (min-width: 768px)
{
.navbar-center { /*newly added*/
    /* -ms-flex-direction: row; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -7px auto;
}
}
/* .bg-light {
    background-color: #ceecee!important;
} */
@media (max-width: 769px)
{ 
	#main-bar
	{ 
 
       /* margin-top:-8px;
       top:13%; */
       display: none;
	 }
    
}







